<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <!-- <h3 class="header">{{MyGame.Translations.Paytable.FreeSpins.Title}}</h3>
    <ul>
        <li>{{MyGame.Translations.FreeSpins.Trigger}}</li>
        <li>{{MyGame.Translations.FreeSpins.Retrigger}}</li>
    </ul> -->
    <div id="wrapper" class="selenium">
        <div id="legal"></div>
    </div>

</body>

</html>